<div class="well">
  <a routerLink="/personas">Personas</a> / Contacto
</div>
<div class="container">
  <label>Nombre</label>
  <input type="text" class="form-control">
  <br>
  <label>Correo</label>
  <input type="email" class="form-control">
  <br>
  <label>Mensaje</label>
  <textarea class="form-control" cols="30" rows="10"></textarea>
  <hr>
  <a class="btn btn-primary">Enviar</a>
  <a class="btn btn-default" routerLink="/lugares">Cancelar</a>
</div>
