<div class="well">
  <a routerLink="/personas">Personas</a> / {{persona.nombre}}
</div>
<div class="container">
  <h1>{{persona.nombre}}</h1>
  <hr>
  <div class="well">
    <small>{{persona.distancia}} Km</small>
    <br>
    <p>{{persona.descripcion}}</p>
    <b>Plan: {{persona.plan}}</b>
  </div>
</div>
