<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Listado personas</h2>
      <a class="btn btn-primary" routerLink="/crear">Crear Nueva Persona</a>
      <ul class="list-group">
        <ng-container *ngFor="let persona of personas">
          <a routerLink="/detalle/{{persona.id}}" [queryParams]="{action:'view',refer:'google'}" ><li *ngIf="persona.active" class="list-group-item">{{persona.nombre}}</li></a>
        </ng-container>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Destacados</h2>
    </div>
  </div>
</div>
